.admin_panel_p{
	min-height:30px;
	height:auto;
	width:100%;
 	position:relative;
	top:0px;
	background-color:#fff;
	/*background-image:url('./images/tweed.png');*/
	z-index:1003;
	-moz-opacity: 0.97;
	-khtml-opacity: 0.97;
	opacity: 0.97;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=97);	
	border-bottom:3px solid #99CC00;
	line-height:30px;
}
.admin_lair_links_cont{
	margin-left:15px;
	min-height:30px;	
}
.admin_lair_links_cont a{
	font-family: arial,sans-serif;
	font-size:14px;		
	text-decoration:none;
	color:#888;
	line-height:30px;
	padding-left:25px;
	display:block;
	width:80px;
}
.admin_lair_links_cont a:hover{
	color:#333;
}
.admin_panel_hide_btn{
	font-family: arial,sans-serif;
	font-size:13px;		
	text-decoration:none;
	color:#ccc;	
	position:absolute;
	top:0px;
	right:2px;
	cursor:pointer;
	height:inherit;
	width:50px;	
	text-align:center;
}
.to_admin_lair{
	background-image:url('./images/admin_icon.png');
	background-repeat:no-repeat;
	background-position:0 5px;
}
.a_panel_page_g_time{
	height:inherit;
	width:100px;
	position:absolute;
	top:0px;
	right:50px;
	font-family: arial,sans-serif;
	font-size:13px;	
	border-right:1px solid #99CC00;
	border-left:1px solid #99CC00;
	text-align:center;
	color:#666;
}
.a_panel_cache_remove{
	height:inherit;
	width:100px;
	position:absolute;
	top:0px;
	right:150px;
	font-family: arial,sans-serif;
	font-size:13px;	
	border-right:0px solid #99CC00;
	border-left:1px solid #99CC00;
	text-align:center;
	color:#888;
	cursor:pointer;
	text-decoration:none;
}
.a_panel_cache_remove:hover{
	color:#333;
}